.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-wrapper {
    display: flex;
    padding: 30px;
}   

.button-1 {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right bottom, hsl(275, 81%, 63%), #0c00f5);
    color: white;
    border-radius: 5px;
    border: 0px;
    height: 40px;
}

.logo {
    display: flex;
    max-width: 130px;
    height: 100%;
    margin-top: 30px;
}

.munotes {
    display: flex;
    max-width: 50px;
    height: 100%;
    color: white;
}