.app {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  min-height: 100vh;
  border-radius: 0px;
  flex-direction: column;
  background-color: #E67470;
  background: linear-gradient(to right bottom, #a04845, #E67470);
  border-radius: 5px;
}

.navbar .nav-wrapper .munotes {
  display: none;
}

.home-container .flex .grids {
  grid-column: auto;
}




@media (min-width: 800px) {
  .app {
    padding: 0 100px;
    margin-top: 5vh;
    min-height: 90vh;
    background-color:#E67470;
    
  }

  .navbar .nav-wrapper .munotes {
    display: inline;
  }

  .home-container .flex .grid {
    columns: 3;
  }

}


